.center {
	 text-align: center;
}
#food_div{
	width: 100%;
	height: 50vh;
}
#myImg{
	width: 100%;
	height: 40vh;
}
#map{
	width: 100%;
	height: 30vh;
}
#img_div{
	width:100%;
	height:40vh;
}
#map_div{
	width:100%;
	height:30vh;
}
#button_div{
	width:100%;
	height:5vh;
}
#gate_div {
	width:100%;
	height:5vh;
	float:right;
}
.gate {
	width: 10%;
}
#gate_div input{
  display: none;
}
label {
	text-align: center;
	background: #55b4ff;
	color: #fff;
	border: 1px solid #55b4ff;
	font-size: 4vmin;
}
#north:checked ~ label[for="north"],
#west:checked ~ label[for="west"], 
#side:checked ~ label[for="side"],
#main:checked ~ label[for="main"],
#east:checked ~ label[for="east"],
#tech:checked ~ label[for="tech"]{
	background: #ccc;
	color: #fff;
	border: 1px solid #ccc;
}
