.center {
	 text-align: center;
}
#food_div{
	width:45vw;
	height:90vw;
	float:left;
}
#myImg{
	width: 45vw;
	height: 70vh;
	float: center;
}
#map{
	width: 45vw;
	height: 90vh;
	float: center;
}
#img_div{
	width:45vw;
	height:70vh;
	float:center;
}
#map_div{
	width:45vw;
	height:90vh;
	float:right;
}
#button_div{
	width:95vw;
	height:5vh;
	clear: both;
}