.center {
	 text-align: center;
}
#food_div{
	width:45vw;
	height:80vh;
	float:left;
}
#myImg{
	width: 45vw;
	height: 65vh;
}
#map{
	width: 45vw;
	height: 75vh;
}
#img_div{
	width:45vw;
	height:65vh;
}
#map_div{
	width:45vw;
	height:75vh;
	float:right;
}
#button_div{
	width:95vw;
	height:5vh;
	clear: both;
}
#gate_div {
	width:95vw;
	height:5vh;
}
#gate_div input{
	display: none;
}
.gate {
	width: 10%;
}
label {
	text-align: center;
	background: #999;
	color: #fff;
	font-size: 4vmin;
}
#north:checked ~ label[for="north"],
#west:checked ~ label[for="west"], 
#side:checked ~ label[for="side"],
#main:checked ~ label[for="main"],
#east:checked ~ label[for="east"],
#tech:checked ~ label[for="tech"]{
	background: #fff;
	color: #999;
	border: 1px solid #999;
}